.header {
    background-color: brown;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}

@media (max-width: 800px) {
    .header {
        background-color: brown;
        display: block;
    }
}

.logo-text {
    color: #FFFFFF;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .menu {
        flex-direction: column;
    }
}

.menu-list-item {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration:none;
}

.language {
    display: flex;
    align-items: center;
}

.menu-list {
    margin-right: 20px;
    list-style-type: none;
}

.menu-list:last-child {
    margin-right: 0;
}

.language-item {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14;
    margin-right: 10px;
}