

.wrapper {
    display: flex;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 850px) {
    .header {
        padding: 10px 10px;
    }
}

.logo-text {
    color: #FFFFFF;
    margin-right: 10px;
}

.menu {
    display: flex;
    width: auto;
}

@media (max-width: 850px) {
    .menu {
        order: 3;
        width: 100%;
    }
}

@media (max-width: 364px) {
    .menu {
        width: 94%;
        overflow: auto;
        left: initial;
        transform: translateX(0)
    }

    .menu::-webkit-scrollbar {
    display: none;
}
}

.menu-list-item {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

.language {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.menu-list {
    margin-right: 20px;
    list-style-type: none;
}

@media (max-width: 850px) {
    .menu-list {
        margin: auto;
    }
}

@media (max-width: 364px) {
    .menu-list {
        margin-right: 14px;
    }
    .menu-list:last-child {
        margin-right: 0;
    }
}


.language-item {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14;
    margin-right: 10px;
}

